.contact-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 200px;
}

.contact-me h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--color3);
    text-align: center;
}

.contact-me p {
    margin-bottom: 20px;
    color: #555;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.form-group textarea {
    resize: vertical;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border: 2px solid rgba(9, 163, 127, 0.409);
    /* box-shadow: 0 0 4px var(--color3); */
}

.contact-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--color3);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.contact-btn svg {
    font-size: 20px;
    transition: .3s linear;
}

.contact-btn:hover {
    background-color: rgb(12, 143, 95);
    transform: scale(1.01);
}

/* .contact-btn:hover svg {
    transform: rotate(45deg);
    margin-top: 2px;
} */

.contact-btn .volvar-ico {
    position: absolute;
    left: 350px;
    transform: rotate(45deg);
    margin-top: 2px;
    animation: volar 2s linear infinite;
}

@keyframes volar {
    from {
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    } to {
        transform: translateX(160px) rotate(45deg);
        opacity: 0;
    }
}

.status-message {
    text-align: center;
}

@media (max-width: 768px) {
    .contact-container {
        padding: 15px;
    }
}