.nav-top {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    z-index: 10;
    transition: 1s ease;
}

.nav-top .logo {
    display: flex;
    gap: 5px;
    cursor: pointer;
    transition: .3s ease;
    animation: mLeft 1s ease;
    filter: drop-shadow(0 0 6px rgba(4, 184, 124, 0.469));
}

.nav-top .logo:hover {
    filter: drop-shadow(0 0 6px aqua);
}

.nav-top .logo img {
    width: 35px;
    filter: brightness(120%) contrast(110%) saturate(90%);
}

.nav-top .logo p {
    font-size: 23px;
    font-weight: 600;
    color: var(--color3);
}

.nav-top .logo p span {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 650;
    position: relative;
}

.nav-top .logo span::after {
    position: absolute;
    content: '';
    right: -18px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.302);
    border-top-color: var(--color3);
    animation: girar .5s linear infinite;
}

.nav-top .logo span::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    right: -10.6px;
    top: 9.2px;
}

.nav-top div {
    display: flex;
    align-items: center;
}

.nav-top .right {
    gap: 20px;
    /* border-bottom: 1px solid white; */
    padding: 5px;
    position: relative;
    animation: mTop 1s ease;
}

.nav-top .right span {
    font-size: 14px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    padding-top: 4px;
    transition: .3s ease;
    color: white;
    position: relative;
}

.nav-top .right .ico {
    font-size: 16px;
}

.nav-top .right .ico-home {
    font-size: 18px;
}
.nav-top .right span::after {
    content: "";
    /* Necesario para mostrar el pseudo-elemento */
    position: absolute;
    /* Posicionamiento absoluto respecto al padre */
    left: 0;
    /* Comienza desde la izquierda */
    bottom: 0;
    /* Posición en la parte inferior del span */
    width: 100%;
    /* Ancho completo del span */
    height: 1px;
    /* Altura del borde */
    box-shadow: 0 0 5px white;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    /* Transición suave */
}

.nav-top .right span:hover::after {
    transform: scaleX(1);
}

.nav-top .right .active {
    position: relative;
    color: var(--color3);
    font-weight: 650;
    /* text-shadow: 0 0 3px white; */
}

.nav-black {
    background-color: #333;
    background: #333;
}

.nav-top .right .active {
    color: #fff;
    text-shadow:
        0 0 5px rgb(0, 207, 121),
        0 0 10px rgb(2, 194, 140),
        0 0 20px rgb(17, 159, 123),        0 0 90px rgb(38, 127, 121),
        0 0 100px rgb(38, 127, 82),
        0 0 140px rgb(38, 127, 111),
        0 0 180px rgb(38, 127, 123);
}
.nav-top .right .active svg {
    color: rgb(0, 207, 121);
}
.nav-top .right .active::after{
    transform: scaleX(1);
    box-shadow: 0 0 3px rgb(2, 194, 140), 0 0 1px rgb(2, 194, 140) ;
}

/* ***************************** */

.menu-ico {
    display: none;
    position: fixed;
    z-index: 100;
    font-size: 40px;
    right: 15px;
    top: 10px;
    padding: 3px;
    /* border: black solid 1px; */
    color: rgb(2, 162, 109);
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.text-menu {
    display: none;
    color: red;
}

@media (max-width: 750px) {
    .menu-ico {
        display: block;
    }

    .menu-ico:hover {
        padding: 0;
    }

    .text-menu {
        display: block;
        margin-top: 20px;
        color: rgb(0, 207, 121);
        border-bottom: 1px solid rgb(0, 207, 121);
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.294));
        padding: 0 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .nav-top {
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        align-items: start;
        height: 250px;
        z-index: 99;
        display: none;
        top: -250px;
        opacity: .3;
    }

    .activeView {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        height: 250px;
        z-index: 99;
        background-color: #333;
        opacity: 1;
    }

    .nav-top .logo {
        margin: auto;
        display: flex;
        flex-direction: column;
        filter: drop-shadow(0 0 2px white);
    }

    .nav-top .logo img {
        width: 180px;
    }

    .nav-top .logo p {
        margin-bottom: 30px;
        padding: 0;
        margin-top: -20px;
        filter: drop-shadow(0 0 0px white);
    }

    .nav-top .right {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .nav-top .right span {
        display: flex;
        text-align: left;
        align-items: start;
        justify-content: start;
    }
}